@charset "utf-8";
/* CSS Document */

.container{
   margin-top: 60px;
}
#frmLogin .input-group{
	margin-bottom:40px;
	}
#frmLogin div{
	font-family:"microsoft yahei";
	font-weight:bold;
	}
	
#frmLogin #codeE{
	font-size:20px;
	border:1px dashed #999;
	display:inline-block;
	padding:5px;
	}